@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 300, 400 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(217, 54%, 11%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  background-color: hsl(217, 54%, 11%);
}

